@charset "UTF-8";

.youtube {
    float: right;
}

body {
	margin: 0px;
	padding: 0px;   
  	width: 500px;
  	height: 1000px;
}

.bg{
    background-image: url(bg.png);    /* 背景画像指定 */
    background-size:  cover;                /* 画像のサイズ指定 */
    background-repeat:  no-repeat;
}

.text{
    /*border:  solid 1px;                             /* 枠線指定 */
    /*display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 10px;                             /* 余白指定 */
    /*background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
