@charset "UTF-8";

.youtube {
    float: right;
}

body {
  margin: 10px;
  padding: 10px;
  width: 1000px;
  height: 2000px;
  background-image:url("bg.png");
  background-repeat: no-repeat;
  background-position:0% 100%;
  background-size:contain;
}
